<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/map">
    <img src="assets/img/ohdm-logo.png" alt="OHDM" style="max-height: 1.7em;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
    aria-label="Toggle navigation" (click)="$event.stopPropagation(); mainmenu.open();">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" ngbDropdown #mainmenu="ngbDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/map">Map</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="about">About</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="imprint">Imprint</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="privacy">Privacy</a>
      </li>
    </ul>
    <app-datepicker></app-datepicker>
  </div>
</nav>